CompileFlags:
  Add: 
    - -I/usr/src/linux/include
    - -I/lib/modules/6.14.6-arch1-1/build/include
    - -I/lib/modules/6.14.6-arch1-1/build/arch/x86/include
    - -I/lib/modules/6.14.6-arch1-1/build/arch/x86/include/generated
    - -I/../include
    - -D__KERNEL__
    - -DMODULE
    - -std=gnu11
    - -nostdinc
    - -isystem /usr/lib/clang/$(clang --version | grep -oE '[0-9]+\.[0-9]+\.[0-9]+' | head -n1)/include
